<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/main.css">
    
    <link rel="icon" href="./images/heroes/WAH-logo.jpeg">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>WAH - Workout At Home</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton" aria-label="Open navigation menu">☰</button>
        </div>
        <div class="app-bar__brand">
          <img src="./images/heroes/WAH-logo.jpeg" alt="WAH Logo" class="app-bar__brand__logo">
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="/">BERANDA</a></li>
            <li><a href="#/favorite">FITUR</a></li>
            <li><a href="#/tentangkami">TENTANG KAMI</a></li>
            <li><a href="#/login">LOGIN</a></li>
          </ul>
        </nav>
      </header>

   <main id="mainContent">

   </main>

   <footer>

   </footer>
</body>
</html>
