* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar Styling */
.app-bar {
  padding: 8px 16px;
  background-color: #000000;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar__brand__logo {
  width: 44px;
  height: 44px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.app-bar__brand h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  overflow: hidden;
  background-color: black;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
}

#loginButton {
  padding: 10px 20px;
    background-color: #6CF3E5;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

main {
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}


.hero-images img {
  width: 100%;
  height: auto; 
  max-height: 350px; 
  object-fit: cover;
}


.hero-quote {
  font-size: 18px;
  padding: 30px;
  font-style: italic;
}

.join-button {
  padding: 10px 20px;
  background-color: #6CF3E5;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

a {
  text-decoration: none;
  color: black;
}


.join-button:hover {
  background-color: #3ecce9e2;
}

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-widget img {
  width: 44px; 
  height: 44px; 
  cursor: pointer;
}

.features {
  background: linear-gradient(180deg, #4225EB, #251585);
  text-align: center;
  padding: 50px 20px;
  margin: 0 auto;
}

.features-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.features-title-user {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.features-description {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #f0f8ff;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1200px;
  margin: 0px 55px;
  gap: 30px;
}

.feature-card {
  background: linear-gradient(135deg, #6CF3E5, #ffffff);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.feature-icon img {
  width: 50px;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5;
}

.about-section {
  background: linear-gradient(180deg,  #4225EB, #251585);
  text-align: center;
  padding: 30px;
}

.container {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    max-width: 1200px;
    padding: 50px;
    gap: 30px;
}

.image-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.content-section {
  max-width: 450px;
}

.content-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content-section p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}

.card {
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #777;
}

.card .button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #4225EB;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  justify-self: end; /* Pindahkan tombol ke kanan */
}

.about-section h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about-section {
  text-align: center;
  padding: 50px 20px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.team-member {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 350px;
}

.profile-pic {
  margin-bottom: 10px;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h2 {
  font-size: 18px;
  margin: 10px 0 5px 0;
  color: #000000;
}

.role {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

.motivation {
  background-color: #d5f9f6;
  padding: 10px;
  border-radius: 10px;
  margin-top: auto;
}

.motivation h3 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000000;
}

.motivation p {
  font-size: 13px;
  color: #777;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  box-orient: vertical; 
  line-clamp: 4;
}

.team-member .role {
  color: #777;
}

.footer {
  background-color: #000; 
  color: #fff; 
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-logo {
  max-width: 50px; 
  margin-right: 20px; /* Menambahkan ruang antara logo dan paragraf */
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section p {
  flex: 1; /* Memberikan ruang untuk teks agar tidak saling tumpang tindih */
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #fff; 
  padding-top: 10px;
  margin-top: 20px;
  font-size: 14px;
}


